<!DOCTYPE html>

<html>
<head>
    <link href="~/Scripts/font-awesome.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        body a {
            color: #2D7AFE;
        }

        a:hover {
            color: #666666;
            text-decoration: none;
        }
        .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus {
            color: #555 !important;
            cursor: default;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
        }
        .col-md-9 {
            padding-right: 0px !important;
        }
        .col-md-4 {
            text-align: center !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
        .form-control {
            margin-bottom: 20px;
        }
        #false {
            color: red;
        }
        #true {
            color: #60c560;
        }
        .control-label {
            margin-top: 0px;
        }

        .form-group {
            margin-bottom: 50px;
        }
    </style>
    <link href="~/Scripts/style.css" rel="stylesheet" />
    <link href="~/Scripts/summernote.css" rel="stylesheet" />
    <link href="~/Scripts/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <link href="~/Scripts/datepicker3.css" rel="stylesheet" />
    <link href="~/Script/dao.css" rel="stylesheet" />
    @*<link href="~/Scripts/font-awesome.min.css" rel="stylesheet" />*@
</head>
<body ng-app="IndexApp" ng-controller="indexcontrol">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12" style="padding-bottom:20px">
                <div class="widget-container fluid-height clearfix">
                    <div class="heading tabs" style="">
                        <strong style="font-size:20px">Bảng điều khiển  </strong>
                        <ul class="nav nav-tabs pull-right col-md-9" data-tabs="tabs" id="tabs">
                            <li class="active col-md-4" style="text-align:center">
                                <a data-toggle="tab" href="#tab1"><i class="fa fa-user"></i><span>Danh sách loại gói</span></a>
                            </li>
                            <li class="col-md-4" style="text-align:center">
                                <a data-toggle="tab" href="#tab2"><i class="fa fa-info-circle"></i><span>Quản lý gửi mail</span></a>
                            </li>
                            <li class="col-md-4" style="text-align:center">
                                <a data-toggle="tab" href="#tab3"><i class="fa fa-list"></i><span>Danh sách tất cả hóa đơn</span></a>
                            </li>
                        </ul>
                    </div>
                    <div id="loadingicon"></div>
                    <div class="tab-content padded" hidden id="my-tab-content" style="">
                        @*---------------TAB1 LoaiGoi---------------*@
                        <div class="tab-pane active" id="tab1" style="font-size:20px;line-height: 50px;">
                            <div class="col-md-12">
                                <div class="col-md-4" ng-repeat="n in ListGiaTien">
                                    @*<button style="width:500px;height:500px"></button>*@
                                    <div class="widget-container fluid-height" style="background-color: #F6F6F6; border-style: double; border-color: #339833; margin-right: 120px; margin-left: 100px; margin-bottom: 50px; margin-top: 35px; width: 350px; height: 350px; ">
                                        <div class="col-md-12" style="font-size:30px;padding-top:50px">
                                            <strong style="margin-top:100px">Loại gói : {{n.LoaiGoi}}</strong>
                                        </div>
                                        <div class="col-md-12" style="font-size:20px;height:150px">
                                            Giá gói  : {{n.GiaTien}}
                                        </div>
                                        <div class="col-md-12" style="padding-top:30px;">
                                            <button id="" style="margin-bottom: 0px;" class="btn btn-primary" ng-click="taogoi(n.MaGoi,n.LoaiGoi,n.GiaTien)" data-toggle="modal" data-target="#myModal">
                                                <i class="glyphicon glyphicon-pencil"></i> Sửa
                                            </button>
                                            <button id="" style="margin-bottom: 0px;" class="btn btn-danger" ng-click="xoagoi(n.MaGoi)" >
                                                <i class="glyphicon glyphicon-pencil"></i> Xóa
                                            </button>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4" >
                                    <div class="widget-container fluid-height" style="border-style: double; border-color: #339833; background-color: #F6F6F6; margin-right: 120px; margin-left: 100px; margin-bottom: 50px; margin-top: 35px; width: 350px; height: 350px; ">
                                        <button id="taogoi" class="btn btn-primary-outline" style="width: 250px; height: 250px; margin-top: 50px; border-style: dashed;" data-toggle="modal" data-target="#myModal">
                                            <i class="glyphicon glyphicon-plus" style="font-size: 500%; "></i>
                                        </button> 
                                        <!-- Modal -->
                                        <div id="myModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Thêm loại gói</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="container" style="max-width:inherit">                                               
                                                            <div class="col-lg-4">Loại gói</div>
                                                            <div class="col-lg-8"><input id="loaigoi" class="form-control" type="text" /></div>
                                                            <div class="col-lg-4">Giá gói</div>
                                                            <div class="col-lg-8"><input id="giagoi" class="form-control" type="text" /></div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="taogoi1" style="margin-bottom: 0px;" class="btn btn-success">
                                                            <i class="glyphicon glyphicon-user"></i> Thêm
                                                        </button>
                                                        <button id="taogoi2" style="margin-bottom: 0px;" class="btn btn-success">
                                                            <i class="glyphicon glyphicon-pencil"></i> Sửa
                                                        </button>
                                                        <button id="huy" type="button" class="btn btn-danger" data-dismiss="modal">
                                                            <i class="glyphicon glyphicon-trash"></i>Close
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="tab-pane " id="tab2" style="font-size: 20px;line-height:50px">
                            <div style="text-align:center;">Thiết lập gửi mail cho nhân viên quản lý</div>
                            <div class="container" style="max-width:inherit">
                                <div class="col-lg-4">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th hidden></th>
                                                <th style="font-size: 20px; text-align: center;">
                                                    Khi có khách hàng sắp hết hạn
                                                    
                                                </th>
                                                <th>
                                                    <button id="saphethan" style="margin-bottom: 0px;" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal1">
                                                        <i class="glyphicon glyphicon-user"></i> Thêm
                                                    </button>
                                                    <!-- Modal -->
                                                    <div id="myModal1" class="modal fade" role="dialog">
                                                        <div class="modal-dialog">

                                                            <!-- Modal content-->
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title">Thêm email khách hàng </h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="container" style="max-width:inherit">
                                                                        <div class="col-lg-4">Email</div>
                                                                        <div class="col-lg-8"><input id="email1" class="form-control" type="text" /></div>
                                                                    </div>

                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button id="saphethan1" style="margin-bottom: 0px;" class="btn btn-success">
                                                                        <i class="glyphicon glyphicon-user"></i> Thêm
                                                                    </button>
                                                                    <button id="dahethan1" style="margin-bottom: 0px;" class="btn btn-success">
                                                                        <i class="glyphicon glyphicon-user"></i> Thêm
                                                                    </button>
                                                                    <button id="chuathanhtoan1" style="margin-bottom: 0px;" class="btn btn-success">
                                                                        <i class="glyphicon glyphicon-user"></i> Thêm
                                                                    </button>
                                                                    <button id="saphethan2" style="margin-bottom: 0px;" class="btn btn-success">
                                                                        <i class="glyphicon glyphicon-pencil"></i> Sửa
                                                                    </button>
                                                                    <button id="huy1" type="button" class="btn btn-danger" data-dismiss="modal">
                                                                        <i class="glyphicon glyphicon-trash"></i>Close
                                                                    </button>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="n in ListMail |filter:'nearend'">
                                                <td hidden>{{n.ID}}</td>
                                                <td>{{n.Email}} </td>
                                                <td>
                                                    <button id="sua1" style="margin-bottom: 0px;" class="btn btn-xs btn-primary" ng-click="suasaphethan(n.ID,n.Email)" data-toggle="modal" data-target="#myModal1">
                                                        <i class="glyphicon glyphicon-pencil"></i> sửa
                                                    </button>
                                                    <button style="margin-bottom: 0px;" class="btn btn-xs btn-danger" ng-click="xoasaphethan(n.ID)">
                                                        <i class="glyphicon glyphicon-trash"></i> xóa
                                                    </button>
                                                </td>                                               
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-4">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th style="font-size: 20px; text-align: center;">
                                                    Khi có khách hàng đã hêt hạn                                                    
                                                </th>
                                                <th>
                                                    <button id="dahethan" style="margin-bottom: 0px;" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal1">
                                                        <i class="glyphicon glyphicon-user"></i> Thêm
                                                    </button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="n in ListMail |filter:'afterend'">
                                                <td hidden>{{n.ID}}</td>
                                                <td>{{n.Email}} </td>
                                                <td>
                                                    <button id="sua2" style="margin-bottom: 0px;" class="btn btn-xs btn-primary" ng-click="suadahethan(n.ID,n.Email)" data-toggle="modal" data-target="#myModal1">
                                                        <i class="glyphicon glyphicon-pencil"></i> sửa
                                                    </button>
                                                    <button style="margin-bottom: 0px;" class="btn btn-xs btn-danger" ng-click="xoadahethan(n.ID)">
                                                        <i class="glyphicon glyphicon-trash"></i> xóa
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-4">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th style="font-size: 20px;text-align:center;">
                                                    Khi có hóa đơn chưa thanh toán                                                    
                                                </th>
                                                <th>
                                                    <button id="chuathanhtoan" style="margin-bottom: 0px;" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal1">
                                                        <i class="glyphicon glyphicon-user"></i> Thêm
                                                    </button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr><td>Gửi mặc định: Người tạo hóa đơn.</td><td></td></tr>
                                            <tr ng-repeat="n in ListMail |filter:'invoice'">
                                                <td hidden>{{n.ID}}</td>
                                                <td>{{n.Email}} </td>
                                                <td>
                                                    <button id ="sua3" style="margin-bottom: 0px;" class="btn btn-xs btn-primary" ng-click="suachuathanhtoan(n.ID,n.Email)" data-toggle="modal" data-target="#myModal1">
                                                        <i class="glyphicon glyphicon-pencil"></i> sửa
                                                    </button>
                                                    <button style="margin-bottom: 0px;" class="btn btn-xs btn-danger" ng-click="xoachuathanhtoan(n.ID)">
                                                        <i class="glyphicon glyphicon-trash"></i> xóa
                                                    </button>
                                                </td>          
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab3" style="font-size: 20px;">
                            Tổng số tiền đã thanh toán qua hệ thống: {{tongtiengd}}
                            <div><br /></div>
                            <div class="form-group">
                                <div class="input-group col-md-3">
                                    <input id="stringsearch" type="text" class="form-control" placeholder="Tìm kiếm tên người tạo">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" onclick="searchname()"> <i class="glyphicon glyphicon-search"></i> </button>
                                    </span>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-4" style="font-size:16px; padding-top:6px;" for="sel1">Lọc hóa đơn:</label>
                                    <select class="form-control" style="width:auto;" id="sel1">
                                        <option value="-1">Tất cả</option>
                                        <option value="1">Đã thanh toán</option>
                                        <option value="0">Chưa thanh toán</option>
                                    </select>
                                </div>
                            </div>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="sort-table" id="magd" style="font-size: 20px;">
                                            Mã hóa đơn
                                        </th>
                                        <th class="sort-table" id="tao" style="font-size: 20px;">
                                            Ngày tạo
                                        </th>
                                        <th class="sort-table" id="tien" style="font-size: 20px;">
                                            Số tiền trả
                                        </th>
                                        <th class="sort-table" id="ten" style="font-size: 20px;">
                                            Người tạo
                                        </th>
                                        <th class="sort-table" id="het" style="font-size: 20px;">
                                            Ngày hết hạn
                                        </th>
                                        <th style="font-size: 20px;">
                                            Tình trạng
                                        </th>
                                        <th style="font-size: 20px;">
                                            Thao tác
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="m in List10GD">
                                        <td>
                                            {{m.gds.MaGD}}
                                        </td>
                                        <td>
                                            {{todate(m.gds.NgayGD)}}
                                        </td>
                                        <td>
                                            {{m.gds.SoTien}}
                                        </td>
                                        <td>
                                            {{m.name}}
                                        </td>
                                        <td class="hidden-xs">
                                            {{todate(m.gds.NgayHetHan)  }}
                                        </td>
                                        <td id="{{m.gds.Paid}}">
                                            {{message(m.gds.Paid)}}
                                        </td>
                                        <td><button style="margin-bottom: 0px; font-size: 13px; padding-top: 4px; padding-bottom: 4px;" class="btn btn-primary" data-toggle="modal" data-target="#chitietgdModal" ng-click="info(m.gds.MaGD)"><i class="glyphicon glyphicon-pencil"></i> Chi tiết</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pagination" id="page">
                            </div>

                            <!-- Trigger the modal with a button for danh sach hoa don -->
                            <div class="modal fade" id="chitietgdModal" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                                            <h3 class="modal-title"><strong>Chi tiết hóa đơn</strong> <span style="float:right;">Mã số : {{infogd.gds.MaGD}}</span></h3>
                                            Khách hàng :<b> {{tenkhachhang}}</b>
                                        </div>
                                        <div class="modal-footer" style="margin-top:0px">
                                            <div class="col-md-10" style="width:490px">
                                                <div class="form-group col-md-12">
                                                    <label class="control-label col-md-4"><strong>Ngày tạo</strong></label>
                                                    <div class="col-md-8">
                                                        <input disabled class="form-control" id="" placeholder="" type="text" value="{{todate(infogd.gds.NgayGD)}}">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label class="control-label col-md-4"><strong>Người tạo</strong></label>
                                                    <div class="col-md-8">
                                                        <input disabled class="form-control" id="" placeholder="" type="text" value="{{infogd.name}}">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label class="control-label col-md-4"><strong>Thời hạn</strong></label>
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            <input disabled id="" type="text" class="form-control" value="{{infogd.gds.ThoiHan}}"><span class="input-group-addon"> tháng</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label class="control-label col-md-4"><strong>Ngày hết hạn</strong></label>
                                                    <div class="col-md-8">
                                                        <input disabled id="" type="text" class="form-control" value="{{todate(infogd.gds.NgayHetHan)}}">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label class="control-label col-md-4"><strong>Cước phí</strong></label>
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            <input disabled id="" type="text" class="form-control" value="{{infogd.gds.CuocPhi}}"><span class="input-group-addon">/tháng</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label class="control-label col-md-4"><strong>Thành tiền</strong></label>
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            <input disabled class="form-control" id="" type="text" value="{{infogd.gds.ThoiHan*infogd.gds.CuocPhi}}"><span id="clickthanhtien" class="input-group-addon">VNĐ</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label class="control-label col-md-4"><strong>Tiền giảm</strong></label>
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            <input disabled class="form-control" id="" type="text" value="{{infogd.gds.TienGiam}}"><span class="input-group-addon">VNĐ</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label class="control-label col-md-4" for="disabledInput"><strong>Tổng tiền</strong></label>
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            <input disabled class="form-control" id="" placeholder="" type="text" value="{{infogd.gds.SoTien}}"><span class="input-group-addon">VNĐ</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label class="control-label col-md-4"><strong>Ghi chú</strong></label>
                                                    <div class="col-md-8">
                                                        <input disabled class="form-control" id="" placeholder="" type="text" value="{{infogd.gds.Note}}">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-8" style="float:right">
                                                @*<button type="button" id="thanhtoan" class="btn btn-success">
                                                    <i class="fa fa-plus"></i>
                                                    <span class="">Thanh toán</span>
                                                </button>*@
                                                <button class="btn btn-danger" id="huythanhtoan" data-dismiss="modal">
                                                    <i class="fa fa-trash-o"></i>Thoát
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script src="~/Scripts/jquery.session.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        document.getElementById("bangdieukhien").style.color = "blue";
        var loadingIcon = '<div class="sk-circle"><div class="sk-circle1 sk-child"></div><div class="sk-circle2 sk-child"></div><div class="sk-circle3 sk-child"></div><div class="sk-circle4 sk-child"></div><div class="sk-circle5 sk-child"></div><div class="sk-circle6 sk-child"></div><div class="sk-circle7 sk-child"></div><div class="sk-circle8 sk-child"></div><div class="sk-circle9 sk-child"></div><div class="sk-circle10 sk-child"></div><div class="sk-circle11 sk-child"></div><div class="sk-circle12 sk-child"></div></div>'
        $('#loadingicon').append(loadingIcon);
        var app = angular.module("IndexApp", [])
        app.controller('indexcontrol', function ($scope, $http) {
            //get list hoa don
            $http.get("/Vsmartsell/GetListGiaTien").success(function (response) {
                $scope.ListGiaTien = response.ListGiaTien;
                $('#my-tab-content').removeAttr('hidden');
                $('.sk-circle').remove();
            });
            //funciton parseint
            parseint = function(a)
            {
                return Number(a);
            }

            //ham load list email lai             
            reloademail = function()
            {
                document.getElementById("bangdieukhien").style.color = "blue";
                $http.get("/Vsmartsell/ListNoticeMail").success(function (response) {
                    $scope.ListMail = response.ListMail;
                });
                $http.get("/Vsmartsell/GetListGiaTien").success(function (response) {
                    $scope.ListGiaTien = response.ListGiaTien;
                });
            }
            //ham load list loaigoi lai             
            reloadgoi = function () {
                $http.get("/Vsmartsell/GetListGiaTien").success(function (response) {
                    $scope.ListGiaTien = response.ListGiaTien;
                });
            }
            //get email ListNoticeMail
            $http.get("/Vsmartsell/ListNoticeMail").success(function (response) {
                $scope.ListMail = response.ListMail;
            });
            //--------loai goi--------
            //them  AddLoaiGoi(string loaigoi, decimal giatien)       
            $("#taogoi1").click(function () {
                $.post("/vsmartsell/AddLoaiGoi", { loaigoi: $("#loaigoi").val(), giatien: Number($("#giagoi").val()) }, function (data) {
                    reloadgoi();
                });
                
                $('#huy').trigger('click');
            });
            //khi them mat button edit trong loai goi
            $('#taogoi').click(function () {
                document.getElementById("loaigoi").disabled = "";
                $("#loaigoi").val("");
                $("#giagoi").val("");
                $("#taogoi1").show();
                $("#taogoi2").hide();
            })
            // sua gia goi EditGoi(int id, string loaigoi, decimal giatien)
            $scope.taogoi = function (a, b,c) {
                debugger
                $("#loaigoi").val(b);
                $("#giagoi").val(c);
                $("#taogoi2").show();
                $("#taogoi1").hide();
                $("#taogoi2").click(function () {
                    $.post("/vsmartsell/EditGoi", { id: a, loaigoi: $("#loaigoi").val(), giatien: Number($("#giagoi").val()) }, function (data) {
                        debugger;
                        reloadgoi();
                    });
                    
                    $('#huy').trigger('click');
                });
            }
            //xoa goi DelLoaiGoi(int magoi)
            $scope.xoagoi = function (a) {
                debugger
                var strconfirm = confirm("Are you sure you want to delete?");
                if (strconfirm == true) {
                    $.post("/vsmartsell/DelLoaiGoi", { magoi: a }, function (data) {
                        debugger;
                        reloadgoi();
                    });
                }
            }

            //--------sap het han--------
            //khi them mat button edit
            $('#saphethan').click(function () {
                $("#email1").val("");
                $("#saphethan1").show();
                $("#saphethan2").hide();
                $("#dahethan1").hide();
                $("#chuathanhtoan1").hide();
            })
            //them email sap het han (string mailtype, string name, string email)           
            $("#saphethan1").click(function () {
                $.post("/vsmartsell/AddNoticeMail", { mailtype:"nearend",name:"test" ,email: $("#email1").val() }, function (data) {
                });
                reloademail();
                $('#huy').trigger('click');
            });
            //khi sua mat button them
            $scope.suasaphethan = function(a,b)
            {
                $("#email1").val(b);
                $("#saphethan2").show();
                $("#saphethan1").hide();
                $("#dahethan1").hide();
                $("#chuathanhtoan1").hide();
                //sua email sap het han (int? id, string name, string email)
                $("#saphethan2").click(function () {
                    $.post("/vsmartsell/EditNoticeMail", { id: a, name: "test", email: $("#email1").val() }, function (data) {
                    });
                    reloademail();
                    $('#huy1').trigger('click');
                });
            }
            //xoa email sap het han (int? id)
            $scope.xoasaphethan = function (a) {
                var strconfirm = confirm("Are you sure you want to delete?");
                if (strconfirm == true) {
                    $.post("/vsmartsell/DelNoticeMail", { id: a }, function (data) {
                        reloademail();
                    });
                }
            }

            //--------da het han--------
            //khi them mat button edit
            $('#dahethan').click(function () {
                $("#email1").val("");
                $("#saphethan1").show();
                $("#saphethan2").hide();
                $("#chuathanhtoan1").hide();
            })
            //them email da het han (string mailtype, string name, string email)           
            $("#dahethan1").click(function () {
                $.post("/vsmartsell/AddNoticeMail", { mailtype: "afterend", name: "test1", email: $("#email1").val() }, function (data) {
                });
                reloademail();
                $('#huy1').trigger('click');
            });
            //khi sua mat button them
            $scope.suadahethan = function (a, b) {
                $("#email1").val(b);
                $("#saphethan2").show();
                $("#dahethan1").hide();
                $("#saphethan1").hide();
                $("#chuathanhtoan1").hide();
                //sua email sap het han (int? id, string name, string email)
                $("#saphethan2").click(function () {
                    $.post("/vsmartsell/EditNoticeMail", { id: a, name: "test1", email: $("#email1").val() }, function (data) {
                    });
                    reloademail();
                    $('#huy1').trigger('click');
                });
            }
            //xoa email sap het han (int? id)
            $scope.xoadahethan = function (a) {
                var strconfirm = confirm("Are you sure you want to delete?");
                if (strconfirm == true) {
                    $.post("/vsmartsell/DelNoticeMail", { id: a }, function (data) {
                        reloademail();
                    });
                }
            }

            //--------HD chua thanh toan--------
            //khi them mat button edit
            $('#chuathanhtoan').click(function () {
                $("#email1").val("");
                $("#chuathanhtoan1").show();
                $("#saphethan2").hide();
                $("#saphethan1").hide();
                $("#dahethan1").hide();
            })
            //them email da het han (string mailtype, string name, string email)           
            $("#chuathanhtoan1").click(function () {
                $.post("/vsmartsell/AddNoticeMail", { mailtype: "invoice", name: "test2", email: $("#email1").val() }, function (data) {
                });
                reloademail();
                $('#huy1').trigger('click');
            });
            //khi sua mat button them
            $scope.suachuathanhtoan = function (a, b) {
                $("#email1").val(b);
                $("#saphethan2").show();
                $("#dahethan1").hide();
                $("#saphethan1").hide();
                $("#chuathanhtoan1").hide();
                //sua email sap het han (int? id, string name, string email)
                $("#saphethan2").click(function () {
                    $.post("/vsmartsell/EditNoticeMail", { id: a, name: "test2", email: $("#email1").val() }, function (data) {
                    });
                    reloademail();
                    $('#huy1').trigger('click');
                });
            }
            //xoa email sap het han (int? id)
            $scope.xoachuathanhtoan = function (a) {
                var strconfirm = confirm("Are you sure you want to delete?");
                if (strconfirm == true) {
                    $.post("/vsmartsell/DelNoticeMail", { id: a }, function (data) {
                        reloademail();
                    });
                }

            }

            /*-----khu vuc function cua danh sach hoa don-----*/
            //hien danh sach hoa don, khoi tao
            var page = 1; var sorttype = "magd2"; var search = ""; var filter = -1; //cac bien khoi tao
            //get danh sach hoa don khi vua load page
            loadlistgd();
            //function click for pagination buttons
            selectpage = function (obj) {
                page = obj;
                loadlistgd();
            }
            //function get danh sach 10 hoa don
            function loadlistgd() {
                $("#page").children().remove();
                $http.post("/vsmartsell/GetList10GD", { id: 0, page: page, sorttype: sorttype, search: search, filter: filter }).success(function (response) {
                    $scope.List10GD = response.List10GD;
                    var numpage = response.numpage;
                    $scope.tongtiengd = response.tongtien;
                    //show pagination buttons
                    $('#page').append('<a class="btn btn-default-outline" id="first" onclick="selectpage(1)" value="1" > << </a>');
                    $('#page').append('<a class="btn btn-default-outline" id="prev" onclick="selectpage(' + (page - 1) + ')" > < </a> ');
                    if (page == 1) { $("#prev").attr('disabled', true); }
                    for (var i = 1; i <= numpage; i++) {
                        var buttonpage = '<a class="btn btn-default-outline" onclick="selectpage(' + i + ')" value="' + i + '" id="pagebutton" >' + i + '</a>';
                        $('#page').append(buttonpage);
                    }
                    $('#page').append(' <a class="btn btn-default-outline" id="next" onclick="selectpage(' + (page + 1) + ')" > > </a>');
                    if (page == numpage) { $("#next").attr('disabled', true); }
                    $('#page').append('<a class="btn btn-default-outline" id="last" onclick="selectpage(' + numpage + ')" value="' + numpage + '" > >> </a>');
                    $('#page').children("[value=" + page + "]").attr('disabled', true);
                });
            }
            //function sort
            $('.sort-table').click(function () {
                if ($('.sorttable_asc').length > 0) {
                    if ($(this).children('.sorttable_asc').length > 0) {
                        $('.sorttable_asc').remove();
                        $(this).append('<span class="sorttable_desc" id="2">▴</span>');
                        sorttype = $(this).attr('id') + $(this).children('.sorttable_desc').attr('id');
                    }
                    else {
                        $('.sorttable_asc').remove();
                        $(this).append('<span class="sorttable_asc" id="1">▾</span>');
                        sorttype = $(this).attr('id') + $(this).children('.sorttable_asc').attr('id');
                    }
                }
                else {
                    $('.sorttable_desc').remove();
                    $(this).append('<span class="sorttable_asc" id="1">▾</span>');
                    sorttype = $(this).attr('id') + $(this).children('.sorttable_asc').attr('id');
                }
                loadlistgd();
            });
            //function search ten nguoi tao hoa don
            searchname = function () {
                search = $('#stringsearch').val();
                loadlistgd();
            }
            //function filter tinh trang hoa don
            $('#sel1').change(filterpaid);
            function filterpaid() {
                page = 1;
                filter = Number($('#sel1').val());
                loadlistgd();
            }
            //set paid text
            $scope.message = function (a) {
                if (a == true)
                    return "Đã thanh toán";
                else {
                    return "Chưa thanh toán";
                }
            };
            //convert date
            $scope.todate = function (strdate) {
                var newdate = new Date(parseInt(strdate.substr(6)));
                var todate = ('0' + newdate.getDate()).slice(-2) + '-' + ('0' + (newdate.getMonth() + 1)).slice(-2) + '-' + newdate.getFullYear();
                return todate;
            };
            //info cua 1 lich su giao dich
            $scope.info = function (obj) {
                for (var i in $scope.List10GD) {
                    if ($scope.List10GD[i].gds.MaGD == obj) {
                        $http.get("/Vsmartsell/GetKH/" + $scope.List10GD[i].gds.MaKH + "").success(function (response) {
                            $scope.tenkhachhang = response.khachhang.TenKH;
                        });
                        $scope.infogd = $scope.List10GD[i];
                        //if ($scope.infogd.gds.Paid == true) {
                        //    $("#thanhtoan").hide();
                        //}
                        //else { $("#thanhtoan").show(); }
                        //$.session.set('magd', obj, 0);
                        break;
                    }
                }
            }
        });
    </script>
}