@{
    ViewBag.Title = "Home Page";
}

<div class="sqs-slide-layer-content">

    <div class="sqs-slice-group restrict-width-500 group-copy">
        <div class="sqs-slice yui3-widget sqs-slice-heading sqs-slice-heading-content" data-slice-area-id="location-full-corners-01-2" data-slice-type="heading" data-compound-type="logo" data-slice-id="54c38115e4b08b9c092a639d" id="yui_3_17_2_1_1441796805933_201"><h1 style="display: inline-block; font-size: 125px;">Futurify</h1></div>
        <div class="sqs-slice yui3-widget sqs-slice-heading sqs-slice-heading-content" data-slice-area-id="location-full-corners-01-3" data-slice-type="heading" data-slice-id="54c38115e4b0e13d924e621d" id="yui_3_17_2_1_1441796805933_223"><h1 style="display: inline-block;">Empower Your Business</h1></div>
        <div class="sqs-slice yui3-widget sqs-slice-body sqs-slice-body-content" data-slice-area-id="location-full-corners-01-4" data-slice-type="body" data-slice-id="54c38115e4b0a736d2adfe4c" id="yui_3_17_2_1_1441796805933_244"><p>Futurify is a vibrant and fast-growing company with many years of experience in building high quality web-applications for a strong client based in Canada and Vietnam. Our focus is to building highly innovative, interactive and reliable web-based solutions to bring maximum values to our clients and users on time and on budget.</p></div>
    </div>

    <div class="sqs-slice-group group-links top-right">
        <div class="responsive-wrapper social" style="display: inline-block;">
            <div class="sqs-slice" data-slice-area-id="location-full-corners-01-5" data-slice-type="social-icons" data-slice-id="54c38115e4b060a897582f0e" data-content-empty="true"></div>
        </div>
        <div class="responsive-wrapper actions" style="display: inline-block;">
        </div>
    </div>

</div>